<h2>Editing &ldquo;<%= @comparison.name %>&rdquo;</h2>

<ul class='actions'>
  <li><%= link_to "All Comparisons", comparison_path, :class => 'icon up' %></li>
  <li><%= link_to "View this", comparison_path, :class => 'icon show' %></li>
  <li><%= link_to "Delete this", comparison_path, :method => :delete, :class => 'icon delete' %></li>
</ul>

<%= render :partial => 'form' %>