<h2><%= @comparison.name %></h2>

<ul class='actions'>
  <li><%= link_to "All Comparisons", comparisons_path, :class => 'icon up' %></li>
  <li><%= link_to "Edit this", edit_comparison_path, :class => 'icon edit' %></li>
  <li><%= link_to "Delete this", comparison_path, :method => :delete, :class => 'icon delete' %></li>
</ul>

<% unless @comparison.description.blank? %>
  <div id='description'><%= textilize @comparison.description %></div>
<% end %>

<p><%= link_to "Show Code", '', :id => 'show-code', :class => 'icon show-code' %></p>
<%= format_code @comparison.code, :id => :code, :style => 'display:none;' %>

<table id='comparison'>
  <thead>
    <tr>
      <th>Version</th>
      <th>Output</th>
      <th>Errors</th>
    </tr>
  </thead>
  <tbody>
    <% @comparison.results.each do |result| %>
      <tr>
        <td class='version <%= result.success? ? 'success' : 'failure' %>'><%= result.version %><%= benchmark_info_for(*@comparison.results.dup.push(:only => result)) %></td>
        <%= show_output result.stdout, :class => 'stdout' %>
        <%= show_output result.stderr, :class => 'stdout' %>
      </tr>
    <% end %>
  </tbody>
</table>
      